.dialog-agreement {
  overflow-y: auto;
  position: relative;
}
.dialog-agreement-content {
/*  background: url("protocol.png") no-repeat 80% bottom;*/
  background: url("http://www.chaozhiedu.com/static/images/zhang.png") no-repeat 80% bottom;
  background-size: 400px;
}
