.dialog-agreement {
  overflow-y: auto;
  position: relative;
}
.dialog-agreement-content {
/*  background: url("protocol.png") no-repeat 60% bottom;*/
  background: url(kZhangPicUrl) no-repeat 60% bottom;
  background-size: 400px;
}
